html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Rokkitt', serif;
    font-size: 1.2em;
    line-height: 1.5;
    background-image: linear-gradient(to bottom, rgb(192, 192, 192), rgb(192, 192, 192));    
    color: white;
}
h1, h2, h3, h4 {
    font-weight: 700;
    color: rgb(255, 166, 65);
    text-shadow: 0 -2px 8px rgb(0, 0, 0);
    color: rgb(207, 181, 59);
} 

header {
    position: absolute;
    padding: 0;
    top: 0;
    z-index: 3;
    width: 100%;
}
header h1 {
    font-size: 2.6rem;
    font-weight: 800;
    text-transform: uppercase;
    text-shadow: 0 -2px 8px rgb(0, 0, 0);
    color: rgb(207, 181, 59);
    text-align: center;
}
a {
    color: rgb(207, 181, 59);
}

a:visited {
    columns: rgb(192, 192, 192);
}
a:hover, a:active {
    columns: #000;
    text-decoration: none;
}
.base-bg {
    background-color: rgb(192, 192, 192);;
    background-image: linear-gradient(rgb(9, 64, 136), rgb(0, 31, 71));  
    color: rgb(246, 226, 218);
    padding: 1rem;
}

.col-2,
.col-3, 
.col-3-myndir{
    display: grid;
    grid-template-columns: 1fr;
}
.copy {
    text-align: center;
}

/****** standard IMG *********/

img {
     max-width: 100%;
     height: auto;
}
figure {
    margin:0;
}

footer {
    color: rgb(207, 181, 59);
    padding: 1em;
    list-style: none;
    
}

a, footer a {
    color: rgb(255, 166, 65);
}
footer a {
    line-height: 1.5;
    display: block;
    color: rgb(207, 181, 59);
}
footer a:visited {
    columns: rgb(192, 192, 192);
}
footer a:active, .footer a:hover {
    text-decoration: none;
}
blockquote {
    background-color: rgba(0,0,0, 0.5);
    padding:1em;
}
.copy {
    text-align: center;
}
h6 {
    text-align: center;
    font-family: 'Rokkitt', serif;
    text-shadow: 0 -2px 8px rgb(0, 0, 0);
    color: rgb(207, 181, 59);
}
h5 {
    font-weight: 700;
    color: rgb(207, 181, 59);
    text-align: center;
    font-size: 2rem;
    text-shadow: 0 -2px 8px rgb(0, 0, 0);
    color: rgb(207, 181, 59);
    font-family: 'Rokkitt', serif;
}
/* ******** 48em ********* */
@media screen and (min-width:48rem) {
    .col-3 {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1em;
        row-gap: 1rem;
    }
    header h1 {
        font-size: 4rem;
    }
    .col-3-myndir{
        grid-template-columns: 1fr 1fr;
    }
    .einisanni {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (min-width:60rem) {
    .col-3-myndir{
        grid-template-columns: 1fr 1fr 1fr;
    }

    .col-21, .col-11 {
        grid-template-columns: 2fr 1fr;
        gap:2rem
    }
    .col-2 {
        grid-template-columns: 1fr 1fr;
        gap: 2em;
    }

}
@media screen and (min-width:80rem) {
    body {
        font-size: 1.4rem;
    }
    .container {
        max-width: 80rem;
        margin: 0 auto;
    }
    header h1 {
        font-size: 6em;
    }
}
@media screen and (min-width:100rem) {
    .container {
        max-width: 93rem;
    }
}